@Html.Partial("~/Views/Home/_header.cshtml");
<section id=internal-title class=container data-background=parallax> 
    <h1>About</h1><!-- Internal Page Main titles --> 
    <ol class=breadcrumb><!-- Internal Page Breadcrumb --> 
        <li><a href="~/Home/Index">Home</a></li> 
        <li class=active>About</li> </ol> 

</section> 
<section id=about-page class=container> 
        <h3><span><b>About</b> Five Star</span></h3>
        <div class=about-desc> 
            <p> Five Star Marriage Hall is being one of the Royal Marriage halls of Lahore for long period of time. We are maintaining our Royal services to serve the People of Lahore to the best possible services. </p> 

        </div> 
        <div class=services-container> 
            <h3><span>Services</span></h3> 
            <div id=services-box class="owl-carousel owl-theme"> 
                <div class=item> 
                    <img src=/images/services/6.jpg alt=6> 
                    <div class=title> Fully Air Conditioned </div> 
                    <div class=short-desc> All the halls are fully air conditioned with 2 great chillers of 10 tons each. </div> 

                </div> 
                <div class=item> 
                    <img src=/images/services/2.jpg alt=2> 
                    <div class=title> High Class Catering </div> 
                    <div class=short-desc> We are maintaining high class catering system for more and more satisfaction on our customers. </div> 

                </div> 
                <div class=item> 
                    <img src=/images/services/3.jpg alt=3> 
                    <div class=title> Safe and Healthy Dishes</div> 
                    <div class=short-desc> We never compromise on quality of our dishes so that people can remain fit and healthy. </div> 

                </div> 
                
            </div> 

        </div> 
        <section class=history> 
            <h3><span><b>Our</b> History</span></h3> 
            <div class="main-container clearfix"> 
                <div class="service-boxes estimate col-md-6 col-xs-6" data-animation=fadeInLeft> 
                    <div class=service-boxes-inner> 
                        <i>2015</i><!-- History's date (Do Not remove it) --> <h5>Opening of Royal Hall</h5><!-- History's title --> <!-- History's description --> 
                        <div class=services-content> Most luxurious hall was inaugurated by the General Manager to serve the people in a better way </div> <!-- end of History's description --> 

                    </div> 

                </div> 
                <div class="service-boxes buy-home col-md-6 col-xs-6" data-animation=fadeInRight> 
                    <div class=service-boxes-inner> 
                        <i>2010</i> <h5> Opening of Golden Hall </h5> 
                        <div class=services-content> This was an awesome addition to the resources that we had to fulfill the needs of people of Lahore </div> 

                    </div> 

                </div> 
                <div class="service-boxes advertisement col-md-6 col-xs-6" data-animation=fadeInLeft> 
                    <div class=service-boxes-inner> 
                        <i>2006</i> <h5> Addition of King Hall </h5> 
                        <div class=services-content> This was another milestone acheived by Five Star increasing in the total capacity of accomodation in Five Star. </div> 

                    </div> 

                </div> 
                <div class="service-boxes suggestion col-md-6 col-xs-6" data-animation=fadeInRight> 
                    <div class=service-boxes-inner> 
                        <i>2002</i> <h5>Founded by Muhammad Ali</h5> 
                        <div class=services-content> Mr. Muhammad Ali was the founder of this beautiful place with a passion to serve the people. </div> 

                    </div> 

                </div> 

            </div> 

        </section> <!-- TOP FOOTER --> 
    </section>
@Html.Partial("~/Views/Home/_footer.cshtml");