@Html.Partial("~/Views/Home/_header.cshtml");
<section id=internal-title class=container data-background=parallax> 
    <h1>Events</h1><!-- Internal Page Main titles --> 
    <ol class=breadcrumb><!-- Internal Page Breadcrumb --> 
        <li><a href="~/Home/Index">Home</a></li> 
        <li class=active>Events</li> 

    </ol> 

</section> 
<section id=events-page> 
    <div class="event-page-container container"> 
        <div class="events-boxes-container clearfix"> 
            <div class="event-row col-xs-6 col-md-6"> 
                <div class="event-row-container clearfix"> 
                    <div class="event-pic col-md-6"> 
                        <img src=/images/events/2.jpg alt=Director> 
                        <div class=details> 
                            <div class=date>13 August - 20 August</div> 
                            <a href="~/Home/booking" class="book-now btn btn-sm colored">Book Now</a>

                        </div> 

                    </div> 
                    <div class="event-detail col-md-6"> 
                        <h4 class=name><b>Jewelery</b> Fair</h4> 
                        <div class=description><!--Event's Description--> 
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem a facere numquam. Magni, id fuga! Quam aut dolore est vitae, earum obcaecati cupiditate facere nesciunt, fugiat, quos consequatur pariatur eligendi? </p> 
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p> 

                        </div> 

                    </div> 

                </div> 

            </div> 
            <div class="event-row col-xs-6 col-md-6"> 
                <div class="event-row-container clearfix"> 
                    <div class="event-pic col-md-6"> 
                        <img src=/images/events/4.jpg alt=Director> 
                        <div class=details> 
                            <div class=date>13 August - 20 August</div> 
                            <a href="~/Home/booking" class="book-now btn btn-sm colored">Book Now</a> 

                        </div> 

                    </div> 
                    <div class="event-detail col-md-6"> 
                        <h4 class=name><b>Conference</b></h4> 
                        <div class=description> 
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem a facere numquam. Magni, id fuga! Quam aut dolore est vitae, earum obcaecati cupiditate facere nesciunt, fugiat, quos consequatur pariatur eligendi? </p> 
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p> 

                        </div> 

                    </div> 

                </div> 

            </div> 
            <div class="event-row col-xs-6 col-md-6"> 
                <div class="event-row-container clearfix"> 
                    <div class="event-pic col-md-6"> 
                        <img src=/images/events/3.jpg alt=Director> 
                        <div class=details> 
                            <div class=date>13 August - 20 August</div> 
                            <a href="~/Home/booking" class="book-now btn btn-sm colored">Book Now</a> 

                        </div> 

                    </div> 
                    <div class="event-detail col-md-6"> 
                        <h4 class=name><b>Music</b> Concert</h4> 
                        <div class=description> 
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem a facere numquam. Magni, id fuga! Quam aut dolore est vitae, earum obcaecati cupiditate facere nesciunt, fugiat, quos consequatur pariatur eligendi? </p> 
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p> 

                        </div> 

                    </div> 

                </div> 

            </div> 
            <div class="event-row col-xs-6 col-md-6"> 
                <div class="event-row-container clearfix"> 
                    <div class="event-pic col-md-6"> 
                        <img src=/images/events/1.jpg alt=Director> 
                        <div class=details> 
                            <div class=date>13 August - 20 August</div> 
                            <a href="~/Home/booking" class="book-now btn btn-sm colored">Book Now</a> 

                        </div> 

                    </div> 
                    <div class="event-detail col-md-6"> 
                        <h4 class=name><b>Fashion</b> Show</h4> 
                        <div class=description> 
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem a facere numquam. Magni, id fuga! Quam aut dolore est vitae, earum obcaecati cupiditate facere nesciunt, fugiat, quos consequatur pariatur eligendi? </p> 
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p> 

                        </div> 

                    </div> 

                </div> 

            </div> 

        </div> 
        <div class="pagination-box clearfix"> 
            <ul> 
                <li class=active><a href=#><span>1</span></a></li> 
                <li><a href=#><span>2</span></a></li> 
                <li><a href=#><span>3</span></a></li> 
                <li><a href=#><span>4</span></a></li> 
                <li><a href=#><span>5</span></a></li> 

            </ul> 

        </div> 

    </div> 

</section> 

@Html.Partial("~/Views/Home/_footer.cshtml");