@Html.Partial("~/Views/Home/_header.cshtml");
<section id=internal-title class=container data-background=parallax> 
    <h1>Double room</h1>
    <ol class=breadcrumb>
        <li><a href="~/Home/Index">Home</a></li> 
        <li><a href="~/Home/rooms_simple">Halls</a></li> 
        <li class=active>Single Hall</li> 

    </ol> 

</section>  
<section id=room-details class=container> 
    <div class="room-details-box clearfix"> 
        <div class=top-row> 
            <h3><span><b>Double</b> Room</span></h3> 
            <div class=subtitle>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti laudantium repellat sequi voluptatum?</div> 
            <div class=gallery> 
                <ul class=bxslider-internal> 
                    <li><img src=/images/rooms/20.jpg alt></li>
                    <li><img src=/images/rooms/2.jpg alt></li> 
                    <li><img src=/images/rooms/3.jpg alt></li> 
                    <li><img src=/images/rooms/4.jpg alt></li> 
                    <li><img src=/images/rooms/5.jpg alt></li> 
                    <li><img src=/images/rooms/6.jpg alt></li> 
                    <li><img src=/images/rooms/7.jpg alt></li> 
                    <li><img src=/images/rooms/8.jpg alt></li> 

                </ul> 
                <div id=bx-pager-internal> 
                    <a data-slide-index=0 href></a>
                    <a data-slide-index=1 href></a> 
                    <a data-slide-index=2 href></a> 
                    <a data-slide-index=3 href></a> 
                    <a data-slide-index=4 href></a> 
                    <a data-slide-index=5 href></a> 
                    <a data-slide-index=6 href></a> 
                    <a data-slide-index=7 href></a> 

                </div> 

            </div> 

        </div> 
        <div class=bottom-row> 
            <div class=prp-details> 
                <div class=top> 
                    <h4><span><b>Room</b> Details</span></h4> 
                    <div class="room-detals-container clearfix"> 
                        <div class="desc-reservation clearfix"> 
                            <div class="prp-description col-md-8"> 
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, distinctio doloribus excepturi fugit minus quisquam totam? Adipisci beatae debitis harum, laudantium optio sed. Distinctio ducimus itaque iusto, mollitia pariatur voluptatum. </p> 
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora nesciunt enim quibusdam, id culpa. Similique minus suscipit itaque velit quis exercitationem delectus, consectetur facilis, reprehenderit qui nihil voluptatum dolore rerum. </p> 
                                <ul class="icons-box list-inline"> 
                                    <li class="icons fa-bell-o">24h Room Service</li>
                                    <li class="icons fa-glass">Free Mini Bar</li> 
                                    <li class="icons fa-desktop">TV in room</li> 
                                    <li class="icons fa-signal">Free wifi</li> 
                                    <li class="icons fa-unlock-alt">Room Security</li> 

                                </ul> 

                            </div> 
                            <div class="booking-form col-md-4"> 
                                <form class=search-form action=#>
                                    <div class=clearfix> 
                                        <div class=search-fields> 
                                            <input placeholder=Check-in class="datepicker-fields check-in" type=text>
                                            <i class=icon-calendar></i>

                                        </div> 
                                        <div class=search-fields> 
                                            <input placeholder=Check-Out class="datepicker-fields check-out" type=text> 
                                            <i class=icon-calendar></i> 

                                        </div> 

                                    </div> 
                                    <div class=search-fields> 
                                        <select name=room-type id=search-field2> 
                                            <option value=1>Guests</option>
                                            <option value=2>1</option> 
                                            <option value=3>2</option> 
                                            <option value=4>3</option> 
                                            <option value=5>4</option> 
                                            <option value=6>5</option> 
                                            <option value=7>+6</option> 

                                        </select> 

                                    </div> 
                                    <div class=search-fields> 
                                        <input placeholder=Email type=text> 

                                    </div> 
                                    <div class=search-button-container> 
                                        <input class="btn colored" value="Check Availability" type=submit>
                                        <div class=prp-price>$180 <span>Per Night</span>

                                        </div>

                                    </div> 

                                </form> 

                            </div> 

                        </div> 

                    </div> 

                </div> 
                <div class="bottom clearfix"> 
                    <h4><span><b>Rate</b> &amp; Reviews</span></h4> 
                    <div class="comments-container col-md-6"> 
                        <div class=comments> 
                            <div class="comment-details clearfix"> 
                                <img src=/images/clients/1.jpg alt="Lori Bell" class=user-img>
                                <div class=user-name>Lori Bell</div>
                                <div class=comment-date>May 28, 2014</div>

                            </div> 
                            <div class=comment-box> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo placeat nam suscipit maxime perferendis, nemo optio tempore, pariatur voluptates ex nostrum fugiat. Provident magni optio laudantium aspernatur animi eius, doloribus. </div> 
                            <a class="reply-comment btn btn-md colored" href=#>Reply</a>

                        </div>
                        <div class="comments clearfix"> 
                            <div class="comment-details clearfix clearfix"> 
                                <img src=/images/clients/3.jpg alt="Lili Kids" class=user-img> 
                                <div class=user-name>Lili Kids</div> 
                                <div class=comment-date>Feb 13, 2014</div> 

                            </div> 
                            <div class=comment-box> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem voluptatibus, nobis est similique quia porro eligendi qui, minus autem consectetur, culpa iste sunt commodi aspernatur ipsum expedita! Maiores, unde, itaque? </div> 
                            <a class="reply-comment btn btn-md colored" href=#>Reply</a> 
                            <div class="comments clearfix"> 
                                <div class="comment-details clearfix clearfix"> 
                                    <img src=/images/clients/4.jpg alt="Brad Lopez" class=user-img> 
                                    <div class=user-name>Brad Lopez</div> 
                                    <div class=comment-date>Jan 12, 2014</div> 

                                </div> 
                                <div class=comment-box> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit labore iusto, pariatur corrupti. Quidem, eum aperiam reiciendis, voluptatibus optio molestiae accusamus a ducimus officia illo suscipit saepe libero asperiores illum? </div> 
                                <a class="reply-comment btn btn-md colored" href=#>Reply</a> 

                            </div> 

                        </div> 

                    </div> 
                    <div class="reply-form col-md-6"> 
                        <div class="rate-box-container clearfix"> 
                            <div class=rate-box> 
                                <div class=title>Overall</div> 
                                <div class="progress overal"> 
                                    <div class=progress-bar role=progressbar aria-valuenow=80 aria-valuemin=0 aria-valuemax=100 style="width: 80%"></div> 

                                </div> 

                            </div> 
                            <div class=rate-box> 
                                <div class=title>Cleanliness</div> 
                                <div class=progress> 
                                    <div class=progress-bar role=progressbar aria-valuenow=75 aria-valuemin=0 aria-valuemax=100 style="width: 75%"></div> 

                                </div> 

                            </div> 
                            <div class=rate-box> 
                                <div class=title>Value</div> 
                                <div class=progress> 
                                    <div class=progress-bar role=progressbar aria-valuenow=80 aria-valuemin=0 aria-valuemax=100 style="width: 80%"></div> 

                                </div> 

                            </div> 
                            <div class=rate-box> 
                                <div class=title>View</div> 
                                <div class=progress> 
                                    <div class=progress-bar role=progressbar aria-valuenow=65 aria-valuemin=0 aria-valuemax=100 style="width: 65%"></div> 

                                </div> 

                            </div> 
                            <div class=rate-box> 
                                <div class=title>Services</div> 
                                <div class=progress> 
                                    <div class=progress-bar role=progressbar aria-valuenow=85 aria-valuemin=0 aria-valuemax=100 style="width: 85%"></div> 

                                </div> 

                            </div> 

                        </div> 
                        <h4><b>Share</b> your review</h4> 
                        <div class=review-subtitle>Your email address will not be published. Required fields are marked *</div> 
                        <form id=contact-form name=contact-form action=#> 
                            <div class=row> 
                                <div class="name-field col-md-6 col-xs-6"> 
                                    <input type=text id=name-field name=name-field placeholder="Name *" required>

                                </div> 
                                <div class="email-field col-md-6 col-xs-6"> 
                                    <input type=email id=email-field name=email-field placeholder="Email *" required>

                                </div> 

                            </div> 
                            <div class=row> 
                                <div class="phone-field col-md-6 col-xs-6"> 
                                    <input type=tel name=phone-field placeholder=Phone>

                                </div> 
                                <div class="website-field col-md-6 col-xs-6"> 
                                    <input type=url id=website-field name=website-field placeholder=Website>

                                </div> 

                            </div> 
                            <div class="message-field row"> 
                                <textarea name=message-field id=message-field placeholder="Message *" required></textarea>
                                <input type=submit class="contact-submit btn btn-md colored" value=Send>

                            </div> 

                        </form> 

                    </div> 

                </div> 

            </div> 

        </div> 

    </div> 

</section> 

@Html.Partial("~/Views/Home/_footer.cshtml");