@Html.Partial("~/Views/Home/_header.cshtml");
<section id=internal-title class=container data-background=parallax> <h1>Single Post</h1>
    <ol class=breadcrumb><!-- Internal Page Breadcrumb --> 
        <li><a href="~/Home/Index">Home</a></li> 
        <li><a href=#>Events</a></li> 
        <li class=active>Single Post</li> 

    </ol> 

</section> 
<div id=post-pages class="container padding-bottom"> 
    <section id=single-post class=col-md-9> 
        <div class=post-boxes> 
            <a href=#><img src=/images/blog/1.jpg alt="post 1" class=post-img></a>
            <div class=post-details> 
                <div class=post-date>May 28, 2014</div>
                <div class=post-author>By <a href=#>admin</a></div>
                <div class=post-comment><a href=#>No Comment</a></div>

            </div> 
            <h4 class=post-title><a href=#>Sunbathing in beautiful beach</a></h4>
            <div class=post-short-desc> 
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat tenetur dolorum alias, nobis voluptatum quisquam laudantium, voluptas reiciendis cum ab libero animi autem, fugit dolore amet. Esse quaerat, quasi harum. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero autem aliquid accusantium dignissimos optio accusamus voluptatem iste, esse est deserunt modi et nostrum odit sequi ducimus, asperiores maxime temporibus. Quia. </p> 
                <blockquote> 
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, alias assumenda commodi consequuntur corporis cumque deserunt dicta doloremque eos eveniet fuga impedit modi optio placeat provident quod sapiente sed vel."</p> 
                    <cite>Mike Muray</cite> 

                </blockquote> 
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quod eum voluptate! Facilis beatae officiis non culpa ipsa alias! Porro ipsam praesentium rem reiciendis sapiente dolores sequi laborum, optio iure! </p> 
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat tenetur dolorum alias, nobis voluptatum quisquam laudantium, voluptas reiciendis cum ab libero animi autem, fugit dolore amet. Esse quaerat, quasi harum. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero autem aliquid accusantium dignissimos optio accusamus voluptatem iste, esse est deserunt modi et nostrum odit sequi ducimus, asperiores maxime temporibus. Quia. </p> 

            </div> 
            <div class="tags-social clearfix"> 
                <div class=post-tags> 
                    <span>Tags: </span> 
                    <a href=# class="tags btn btn-sm primary-colored">Foods</a> 
                    <a href=# class="tags btn btn-sm primary-colored">Sunbathing</a> 
                    <a href=# class="tags btn btn-sm primary-colored">Yoona</a> 
                    <a href=# class="tags btn btn-sm primary-colored">beach</a> 

                </div> 
                <div class=social-icons> 
                    <a href=# class=facebook></a>
                    <a href=# class=twitter></a>
                    <a href=# class=google-plus></a>

                </div> 

            </div> 

        </div> 
        <div class=comments-container> 
            <div class=comments> 
                <div class="comment-details clearfix"> 
                    <img src=/images/clients/1.jpg alt="Lori Bell" class=user-img>
                    <div class=user-name>Lori Bell</div>
                    <div class=comment-date>May 28, 2014</div>

                </div>
                <div class=comment-box> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo placeat nam suscipit maxime perferendis, nemo optio tempore, pariatur voluptates ex nostrum fugiat. Provident magni optio laudantium aspernatur animi eius, doloribus. </div> 
                <a class="reply-comment btn btn-sm colored" href=#>Reply</a>

            </div> 
            <div class="comments clearfix"> 
                <div class="comment-details clearfix clearfix"> 
                    <img src=/images/clients/3.jpg alt="Lili Kids" class=user-img> 
                    <div class=user-name>Lili Kids</div> 
                    <div class=comment-date>Feb 13, 2014</div> 

                </div> 
                <div class=comment-box> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem voluptatibus, nobis est similique quia porro eligendi qui, minus autem consectetur, culpa iste sunt commodi aspernatur ipsum expedita! Maiores, unde, itaque? </div> 
                <a class="reply-comment btn btn-sm colored" href=#>Reply</a> 
                <div class="comments clearfix"> 
                    <div class="comment-details clearfix clearfix"> 
                        <img src=/images/clients/4.jpg alt="Brad Lopez" class=user-img> 
                        <div class=user-name>Brad Lopez</div> 
                        <div class=comment-date>Jan 12, 2014</div> 

                    </div> 
                    <div class=comment-box> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit labore iusto, pariatur corrupti. Quidem, eum aperiam reiciendis, voluptatibus optio molestiae accusamus a ducimus officia illo suscipit saepe libero asperiores illum? </div> 
                    <a class="reply-comment btn btn-sm colored" href=#>Reply</a> 

                </div> 

            </div> 

        </div> 
        <div class="clearfix reply-form"> 
            <h4><b>Leave</b> a Reply</h4> 
            <div class=review-subtitle>Your email address will not be published. Required fields are marked *</div> 
            <form id=contact-form name=contact-form action=#> 
                <div class=row> 
                    <div class="name-field col-md-6 col-xs-6"> 
                        <input type=text id=name-field name=name-field placeholder="Name *" required>

                    </div> 
                    <div class="email-field col-md-6 col-xs-6"> 
                        <input type=email id=email-field name=email-field placeholder="Email *" required>

                    </div> 

                </div> 
                <div class=row> 
                    <div class="phone-field col-md-6 col-xs-6"> 
                        <input type=tel name=phone-field placeholder=Phone>

                    </div> 
                    <div class="website-field col-md-6 col-xs-6"> 
                        <input type=url id=website-field name=website-field placeholder=Website>

                    </div> 

                </div> 
                <div class="message-field row"> 
                    <textarea name=message-field id=message-field placeholder="Message *" required></textarea>
                    <input type=submit class="contact-submit btn colored" value=Send>

                </div> 

            </form> 

        </div> 

    </section> 
    <aside class=col-md-3> 
        <div class=side-boxes> 
            <h3 class=side-title>Archive</h3>
            <div class=side-contents> 
                <ul> 
                    <li><a href=#>Typography</a></li> 
                    <li><a href=#>Columns</a></li> 
                    <li><a href=#>Elements</a></li> 
                    <li><a href=#>Timeline</a></li> 
                    <li><a href=#>Staff boxes</a></li> 
                    <li><a href=#>Breadcrumb &amp; Alerts</a></li> 

                </ul> 

            </div> 

        </div> 
        <div class=side-boxes> 
            <h3 class=side-title>Category</h3> 
            <div class=side-contents> 
                <ul> 
                    <li><a href=#>Typography</a></li> 
                    <li><a href=#>Columns</a></li> 
                    <li><a href=#>Elements</a></li> 
                    <li><a href=#>Timeline</a></li> 
                    <li><a href=#>Staff boxes</a></li> 
                    <li><a href=#>Breadcrumb &amp; Alerts</a></li> 

                </ul> 

            </div> 

        </div> 
        <div class=side-boxes> 
            <h3 class=side-title>Tags</h3> 
            <div class=side-contents> 
                <a href=# class="tags btn primary-colored">Restaurant</a>
                <a href=# class="tags btn primary-colored">Sauna</a> 
                <a href=# class="tags btn primary-colored">Jacuzzi</a> 
                <a href=# class="tags btn primary-colored">Spa</a> 
                <a href=# class="tags btn primary-colored">Foods</a> 
                <a href=# class="tags btn primary-colored">Sunbathing</a> 
                <a href=# class="tags btn primary-colored">Drinks</a> 
                <a href=# class="tags btn primary-colored">beach</a> 

            </div> 

        </div> 

    </aside> 

</div> 
@Html.Partial("~/Views/Home/_footer.cshtml");
